.idea
.vscode
*.pyc
__pycache__/
# *.log
tests/
algo_azure/
algo_general/
app.bat
LICENSE
myapplication.wsgi
myappname.py
Procfile
runtime.txt
service.py
appmain/dbaccessmongodb.py
appmain/dbaccesspostgresql.py
appml/templates/appml/area4Parameters_appml.html
appml/templates/appml/area4Inquire_appml_general.html
appml/templates/appml/area4Inquire_appml_azure.html
